body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f4f4f9; */
    background-image: url('../imgs/backimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
}
h2 {
    margin-bottom: 20px;
    color: #fefefe;
}
input[type="text"], input[type="password"] {
    width: 91%;
    padding: 1%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}
input:focus {
    border-color: #f0f0f0;  /* 改变边框颜色 */
    
    outline: none;  /* 去掉默认的轮廓 */
  }

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    font-weight: 750;
    border-color: rgba(255, 255, 255, 0.39);
    
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    
}
button:hover {
    background-color: rgba(255, 255, 255, 0.45);
}
.error-message {
    color: red;
    margin-top: 10px;
}

#loginFormContainer,#registerFormContainer i{
    color: #ffffff;
}