<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传界面</title>
    <link rel="stylesheet" href="../static/css/kb.css">
    <style>
        

       
    </style>
</head>
<body>

    <nav>
        <a href="/kb">知识库</a>
        <a href="/chat">Chat Bot</a>
        <a href="#">帮助</a>
    </nav>

    <!-- 左侧文件列表视图 -->
    <div class="file-list-container" id="fileListContainer">
        <h3>知识库</h3>
        <div id="uploadFolderFiles"></div>
    </div>

    <!-- 右侧文件上传区域 -->
    <div class="upload-container">
        <h2>文件上传</h2>
        <label class="file-upload-area" for="fileInput">
            <span>点击选择文件</span>
            <input type="file" id="fileInput" accept=".docx,.pdf" multiple>
        </label>
        <div class="file-list" id="fileList"></div>
        <button class="upload-btn" id="uploadBtn">上传文件</button>
    </div>

    <script src="../static/js/kb.js"></script>

</body>
</html>
